{% extends 'layout.twig' %}

{% block body %}
  <div id="main-menu">
    <custom-header></custom-header>
    <ul class="list-unstyled">
      <li><a id="newGameBtn" class="btn btn-success w-75" href="#">New game</a></li>
      <li><a class="btn btn-warning w-75 text-white" href="/game/join">Join game</a></li>
      <li><a class="btn btn-secondary w-75" href="/help">Help</a></li>
      <li><a class="btn btn-secondary w-75" href="/settings">Settings</a></li>
    </ul>
  </div>

  <script>
    document.getElementById("newGameBtn").href = "/game/join/"+getMyId()
  </script>

  <style>
    #main-menu {
      width: 80%;
      height: 80%;
      margin: 5% 10%;
      background-color: wheat;
      border-radius: 2%;
    }

    #main-menu li{
      margin: 5px;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
{% endblock %}

