{% extends 'layout.twig' %}

{% block body %}
    <div id="main-menu">
        <custom-header></custom-header>
        <h2>{{ GameID }}</h2>

        <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        #main-menu {
            width: 80%;
            height: 80%;
            margin: 5% 10%;
            background-color: wheat;
            border-radius: 2%;
        }

        #main-menu li{
            margin: 5px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
{% endblock %}

